---
layout: default
---

<main class="content">
	<div class="wrapper wrapper--articles">
		<header >
			<h1 class="title title--wrapper"> My Projects</h1>
		</header>
		<p class="category-description">
			As every developer on this world, I also have my little side projects. Most of the times are not updated or finished but I just do it for fun. Honestly I always worked for companies, I dedicate
			my day to do the best for the company I work for, so at the end of the day I prefer enjoy sun and nice weather rather than work again.(But hey this is just my choice!)
      I am now rebuilding this section, so for now it is empty. However you can look at my <a href="http://github.com/antoniofull">github</a> or <a href="https://bitbucket.org/afullone/">BitBucket</a> where you will find some projects I worked on.
		</p>
		<section class="category-list">
			{% for post in site.posts %}
			{% if post.categories contains "projects" %}
		    <article class="category-list__item">
					<header>
						<h2 class="category-list__title title">{{ post.title }}</h2>
						<span class="date">{{ post.date | date: "%-d %B %Y" }}</span>
					</header>
		      <a class="category-list__link" href="{{ post.url }}">
		      	{% if post.image %}
						<figure class="image-container">
							<img class="category-list__image" src="/images/posts/{{ post.image }}" alt={{post.title}} />
						</figure>
						{% endif %}
		      </a>
					<div class="category-list__excerpt">{{post.excerpt}}</div>
					<a  href="{{ post.url }}" class="read-more">Read Post</a>
		    </article>
			{% endif %}
		  {% endfor %}
		</section>
	</div>
</main>
