---
layout: default
description: "Antonio Fullone - Writing about the book I like to read. From self development to spiritual development to coding."
metatag: "Antonio Fullone, books, ebooks, audio books, reviews, personal development, spiritual development"
---

<main class="content">
	<div class="wrapper wrapper--articles">
		<header >
			<h1 class="title title--wrapper">Reading.</h1>
		</header>
		<p class="category-description">
			In this space I review the books I read, or listen to. I read a lot and most of them are not about technical or Javascript but about life, personal development and life improvement.
      Sometimes I can add a referral link to the book link (usually Amazon, where I buy most of them). Don't worry if I will ever make money out of those links, I will give it to charity.
		</p>
		<section class="category-list">
			{% for post in site.posts %}
			{% if post.categories contains "reading" %}
		    <article class="category-list__item">
					<header>
						<h2 class="category-list__title title">{{ post.title }}</h2>
						<span class="date">{{ post.date | date: "%-d %B %Y" }}</span>
					</header>
		      <a class="category-list__link" href="{{ post.url }}">
		      	{% if post.image %}
						<figure class="image-container">
							<img class="category-list__image" src="/images/posts/{{ post.image }}" alt={{post.title}} />
						</figure>
						{% endif %}
		      </a>
					<div class="category-list__excerpt">{{post.excerpt}}</div>
					<a  href="{{ post.url }}" class="read-more">Read Post</a>
		    </article>
			{% endif %}
		  {% endfor %}
		</section>
	</div>
</main>
