/* 
    Name: Antonio Fullone Personal Website
    Version: V 5.0
    URI: https://antoniofullone.com
    Author: Antonio Fullone
    Licence: MIT
        1 - Reset
        2 - Custom Properties
        3 - Typography
        4 - Globals
*/
@import './src/styles/reset.css';
@import './src/styles/variables.css';
@import './src/styles/typography.css';
@import './src/styles/grid.css';
@import './src/styles/helpers.css';
@import './src/styles/global.css';
@import './src/styles/header.css';
@import './src/styles/footer.css';
@import './src/styles/intro.css';
@import './src/styles/about.css';
@import './src/styles/work.css';

@media screen and (min-width: 980px) {
  .illustration {
    background: none;
  }
  .illustration__container {
    background: url('./src/images/bg_vespa_desktop.svg') no-repeat center;
    background-size: contain;
  }
  .illustration:before,
  .illustration:after {
    content: none;
  }
  .about-section {
    /* background: var(--color-black); */
  }
}
@media screen and (max-height: 450px) {
  .intro {
    padding-top: var(--padding);
  }
}
@media screen and (max-height: 768px) {
  .main-section {
    min-height: calc(95vh - (var(--header-height)));
    align-items: center;
  }
}
