/* 
    Name: Antonio Fullone Personal Website
    Version: V 5.0
    URI: https://antoniofullone.com
    Author: Antonio Fullone
    Licence: MIT
        1 - Reset
        2 - Custom Properties
        3 - Typography
        4 - Globals
*/

/* ==================== 
    1 - RESET    
    Credits: 
        - https://bitsofco.de/my-css-reset-base/
        - https://meyerweb.com/eric/tools/css/reset/reset.css

===================== */

html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit;
}

img, 
video,
svg {
    max-width: 100%;
}

ol, ul, dl {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

[hidden] {
    display: none !important;
}

i, cite, em, var, address, dfn {
    font-style: inherit;
}

/* 
 Prevent Zoom on Focus only for IOS devices
 -webkit-overflow-scrolling is supported only in IOS Safari
 https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-overflow-scrolling
 */
@supports (-webkit-overflow-scrolling: touch) {
    select, textarea, input[type="text"],input[type="password"],
    input[type="number"], input[type="tel"], input[type="email"] {
        font-size: 16px;
    }
}

/*=========================
    2 - CUSTOM PROPERTIES
==========================*/

/*
 There is no better way than experiment and learn new things 
 Using your own website as lab 
 but how cool is doing it with css? :-)
*/
:root {
    --color-black: hsla(60, 3%, 12%, 1);
    --color-black-light: hsla(60, 1%, 48%, 1);
    --color-black-light-800: hsla(60, 1%, 80%, .4);
    --color-black-dark: hsla(60, 14%, 7%, 1);

    --color-accent: hsla(0, 96%, 72%, 1);
    --color-accent-700: hsla(0, 56%, 32%, 1);

    --color-white: hsla(204, 45%, 98%, 1);
    

    /* 
        Modular Scale
        dy = dynamic fonts  
    */
    --base-font: 18px;
    --baseline: 28px;

    --intertistial-value: 40px;
    
    --font-xxl: 5.063rem;
    --font-xl: 3.375rem;
    --font-l: 2.25rem;
    --font-m: 1.5rem;
    --font-s: 0.667rem;
    --font-xs: 0.444rem;
    --font-dy-l: 11.391vw;
    --font-dy-m: 7.594vw;
    --font-dy-s: 3.375vw;

    --margin: var(--baseline);
    --margin-half: calc( var(--baseline) / 2 ); 
    --margin-xl: calc( var(--baseline) * 2 ); 
    --margin-xxl: calc( var(--baseline) * 3 ); 

    --padding: var(--baseline);
    --padding-half: calc( var(--baseline) / 2 ); 
    --padding-xl: calc( var(--baseline) * 2 );     

   /* Mobile Grid: 4 Column with Margin outside */
    --grid-columns: 4;
    --grid-gutters: 3;
    --grid-gutter: 15px;
    /* 
        Some calculations that could be used if not planning to use grid 
        just to see how cool is CSS when you can add some logic :-)
    */
    --grid-total-gutter: calc(var(--grid-gutter) * var(--grid-gutters));
    --grid-width: calc(100% - var(--grid-total-gutter));
    --grid-unit: calc( var(--grid-width) / 4 ); 
}

@media screen and (min-width: 1024px) {
    :root {
        --base-font: 21px;
        --baseline: 32px;
    }
}


/*=========================
    3 - TYPOGRAPHY
==========================*/

html {
    font-size: var(--base-font);
}

body {
    font-family: alegreya, serif;
    font-size: 100%;
    line-height: var(--baseline);
    text-rendering: optimizeLegibility;
    /* Serif Numbers are not looking good, let's make it better */
    font-variant: lining-nums;
    -moz-font-feature-settings: "lnum";
    -webkit-font-feature-settings: "lnum";
    font-feature-settings: "lnum";
}

a {
    color: var(--color-accent);
    text-decoration: underline;
}
a:visited {
    color: var(--color-accent-700);
}

p {
    font-size: inherit;
    line-height: inherit;
    margin-bottom: var(--baseline);
}

h1 {
    font-size: var(--font-l);
    margin-bottom: var(--margin);
    line-height: 1;
}
h2 {
    font-size: var(--font-m);
    margin-bottom: var(--margin);
    line-height: 1;
}
h3 {
    font-size: var(--base-font);
    margin-bottom: var(--margin-half);
}
h4 {
    font-size: var(--font-s);
    margin-bottom: var(--margin-half);
}
h5,
h6 {
    font-size: var(--font-xs);
    margin-bottom: var(--margin-half);
}

/* Enable Alegreya Opentype features */
.fractional {
    font-variant: diagonal-fractions;
    -moz-font-feature-settings: "frac";
    -webkit-font-feature-settings: "frac";
    font-feature-settings: "frac";
} 
.ordinal {
    font-variant-numeric: ordinal;
    -moz-font-feature-settings: "ordn";
    -webkit-font-feature-settings: "ordn";
    font-feature-settings: "ordn";
}
.ligature {
    font-variant-numeric: common-ligatures;
    -moz-font-feature-settings: "liga";
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
}

/*=========================
    4 - GLOBAL
==========================*/
.dark-theme {
    /* background-color: var(--color-black); */
}
.index {
    width: 100%;
    max-width: 100%;
}
.grid-margin {
    margin: 0 var(--margin);
}

.grid-margin--half {
    margin: 0 var(--margin-half);
}

@media screen and (min-width: 768px) {
    .index {
        /* margin-top: calc(var(--margin-xxl) * 1.5); */
    }
}

/*=========================
    5 - HELPERS
==========================*/
.text--center {
    text-align: center;
}
.text--white {
    color: var(--color-white);
}
.margin-y {
    margin-bottom: var(--baseline);
    margin-top: var(--baseline);
}

.margin-y-l {
    margin-bottom: calc(var(--baseline) * 2);
    margin-top: calc(var(--baseline) * 2);
}

.margin-x {
    margin-left: var(--baseline);   
    margin-right: var(--baseline);
}

.margin-x--xl {
    margin-left: calc(var(--baseline) * 2);
}

.padding-x {
    padding-left: var(--baseline);
    padding-right: var(--baseline);
}

.padding-y-l {
    padding-top: calc(var(--baseline) * 2);
    padding-bottom: calc(var(--baseline) * 2);
}
.padding-y {
    padding-top: var(--baseline);
    padding-bottom: var(--baseline);
}

.padding-x-half {
    padding-left: calc(var(--baseline) / 2);
    padding-right: calc(var(--baseline) / 2);
}

.padding-y-half {
    padding-top: calc(var(--baseline) / 2);
    padding-bottom: calc(var(--baseline) / 2);
}

.padding-x-2 {
    padding-left: calc(var(--baseline) * 2);
    padding-right: calc(var(--baseline) * 2);
}

.padding-x-2 {
    padding-top: calc(var(--baseline) * 2);
    padding-bottom: calc(var(--baseline) * 2);
}

.has-baseline:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: repeating-linear-gradient(180deg, transparent, transparent calc(var(--baseline) - 1px), var(--color-black-light-800) calc(var(--baseline) - 1px), var(--color-black-light-800) var(--baseline));
    background-size: 1px var(--baseline);
}

.has-grid {
    background-image: url('/src/images/grid-mobile.png');
    background-size: contain;
    background-repeat: repeat-y;
}

/*=========================
    6 - HEADER
==========================*/

.site-header {
    height: calc(var(--baseline) * 2);
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--margin-half);
    background-color: hsla(0, 0%, 100%, 1);
    box-shadow: 0 1px 5px hsla(60, 1%, 88%, 1);
}

@supports (display: grid) {
    .site-header {
        display: grid;
        align-content: center;
        grid-template-columns: repeat(4, minmax(50px, 1fr));
        grid-column-gap: var(--grid-gutter);
        position: sticky;
        position: -webkit-sticky;
        /* Position Sticky creates a new stack */
        z-index: 100;
        top: 0;
    }
}
.logo {
    grid-column: 1 / 1;
}
.logo__link {
    display: block;
    width: var(--baseline);
    height: var(--baseline);
}
.logo__img {
    width: 100%;
    height: 100%;
}

.site-nav {
    max-width: 100%;
    grid-column: auto / span 3;
}

.nav-list {
    font-family: alegreya-sans, sans-serif;
    text-align: right;
}
.nav-list__item {
    width: auto;
    margin-left: var(--margin-half);
    vertical-align: top;
    display: inline-block;
    text-align: right;
    font-size: .667rem;
}
.nav-list__link,
.nav-list__link:visited {
    font-weight: 600;
    color: var(--color-black-dark);
}

@media screen and (min-width: 600px) {
    .site-nav {
        grid-column: 3 / span 2;
    }
}

/*=========================
    7 - SECTION - INTRO
==========================*/
.main-section {
    position: relative;
    background-color: #fff;    
    /* background-image: url('src/images/background_mobile.svg'); */
    background-repeat: no-repeat;
    background-position: top var(--margin-xxl) right 0;
    background-size: 100% 100%;
    height: calc(100vh - var(--margin-xxl));
}
.intro {
    padding: var(--padding-xl) var(--padding-half) var(--padding-half);
    /* background: #fff;    */
}
/* dynamic font sizes */
.intro__header {
    font-family: alegreya-sc, serif;
    font-size: var(--font-dy-l);
    line-height: var(--font-s);
    line-height: .667;
}

.intro__tagline,
.i-am-cool {
    font-size: var(--font-dy-m);
    font-weight: normal;
    line-height: 1;
    margin-bottom: var(--margin-half);
    display: block;
}
.i-am-cool {
    margin-bottom: var(--margin);
}
.intro__qualified {
    font-size: var(--font-dy-s);
    font-weight: normal;
    font-style: italic;
    line-height: 1;
}

.illustration {
    position: relative;
    min-height: calc(var(--margin) * 10);
}

.vespa {
    position: absolute;
    left: 45%;
    top: 40%;
    transform: translate(-50%, -50%);
    max-width: 8rem;
}

.italy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

@media screen and (min-width: 768px) {
    .intro__tagline,
    .i-am-cool {
        line-height: 1;
    }
    .i-am-cool {
        margin-bottom: var(--intertistial-value);
    }
}

@media screen and (min-width: 57em) {
    /* Here text needs to be fixed again */
    .intro__header {
        font-size: var(--font-xl);
    }
    .intro__tagline,
    .i-am-cool {
        font-size: var(--font-m);
    }
    .intro__qualified { 
        font-size: var(--base-font);
    }
}

/*=========================
    7 - SECTION - ABOUT
==========================*/
.about-section {
    background: #fff;
}

.about-section > p:first-of-type:first-letter {
    float: left;
    font-size: var(--font-xl);
    padding-top: 12px;
    padding-right: 0;
    padding-left: 0;
} 

.about-section h2 {
    font-size: var(--font-l);
}
/*=========================
    8 - SECTION - WORK
==========================*/
.work--temp {
    padding: 0 var(--margin-half);
}
.work--temp h2 {
    text-align: center;
    font-weight: 900;
}

.work-intro {
    margin: var(--margin) 0 var(--margin-xxl);
}
.companies {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-column-gap: calc(var(--grid-gutter) * 2);
    grid-row-gap: calc(var(--grid-gutter) * 3);
    margin-bottom: calc(var(--margin-xxl) * 2);
}

.companies figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
}

.companies img {
    height: auto;
    object-fit: contain;
    flex: 1 1 50px;
}

.work-section {
    font-family: alegreya-sans, sans-serif;
}
.work-nav {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
    height: var(--margin-xl);
    top: 0;
    font-family: alegreya-sans, sans-serif;
    background: #fff;
    width: 100%;
    padding: var(--padding-half) 0;
    transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    box-shadow: 0 1px 5px hsla(60, 1%, 88%, 1);
}

.work-section p {
    line-height: 24px;
}
.nav-list__item ul {
    display: none;
}

.is-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: var(--margin-xl);
    margin-top: 1px;
    background: #fff;
    z-index: 100;
}

.project__header {
    margin-bottom: var(--margin-xl);
}

/*=========================
    8 - FOOTER
==========================*/

.site-footer {
    background-color: var(--color-black-dark);
    color: var(--color-black-light);
    font-family: alegreya-sans, sans-serif;
    font-size: 14px;
    line-height: 1.3;
    position: relative;
    
}

.footer-container {
    display: grid;
    grid-column-gap: var(--grid-gutter);
    grid-row-gap: var(--margin-xl);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "heading heading"
        "blog blog"
        "credits reading"
        "social ."
        "address logo"
        "tagline tagline"
        "subfooter subfooter"   

}
.site-footer__header {
    color: #fff;
    line-height: 1.3;
    padding-bottom: var(--baseline);
    grid-area: heading;
}
.blog {
    margin-bottom: var(--margin-xl);
    grid-area: blog;
}
.footer-header {
    border-bottom: 1px solid var(--color-black-light);
    padding-bottom: 4px;
}
.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.post {
    flex: 1 1 30%;
    max-width: 31%;
}
.post__title {
    display: block;
    display: -webkit-box;
    font-size: var(--font-s);
    line-height: 1.3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(1.3 * 3 * var(--font-s));
}

.credits {
    grid-area: credits;
}

.reading {
    grid-area: reading;
}

.extra a {
    display: block;
    color: var(--color-black-light);
    font-size: 14px;
    line-height: 1.3;
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.extra a:before {
    content: ' ';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--color-accent-700);
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    transition: background 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.extra a:hover:before {
    background: var(--color-accent);
}

.extra li {
    margin-bottom: 4px;
    padding-left: var(--grid-gutter);
}

.social {
    grid-area: social;
}

.social ul {
    display: flex;
    flex-wrap: wrap;
}

.social li {
    flex: 1 1 20%;
    max-width: 20%;
    margin-bottom: var(--grid-gutter);
}

.social .fab,
.social .fas {
    font-size: var(--base-font);
}
.social--footer a {
    color: var(--color-black-light);
}

.info-address {
    grid-area: address;
}
.info-address p {
    margin-bottom: 8px;
    line-height: 1;
}

.site-footer .logo {
    grid-area: logo;
    justify-self: center;
}
.site-footer .logo__link {
    width: 40px;
    height: 40px;
}

.footer-tagline {
    font-size: 16px;
    border-bottom: 1px solid var(--color-black-light);
    grid-area: tagline;
    padding-bottom: var(--grid-gutter);
}

.subfooter {
    background: var(--color-black);
    text-align: center;
    grid-area: subfooter;
    min-height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subfooter p {
    margin-bottom: 0;
}
.subfooter a {
    color: #fff;
}