---
layout: default
description: "Antonio Fullone - Writing about my travels around the world."
metatag: "travel, love, digital nomad"
---

<main class="content">
	<div class="wrapper wrapper--articles">
		<header >
			<h1 class="title title--wrapper"> On Traveling.</h1>
		</header>
		<p class="category-description">
			My thoughts about traveling. The places I visited and the photos I take. I love traveling and I plan to visit as many places as possible in my life.
			I take photos, but I am not good and ... I don't have a personal instagram. Yep, not every one is perfect :)
		</p>
		<section class="category-list">
			{% for post in site.posts %}
			{% if post.categories contains "travel" %}
		    <article class="category-list__item">
					<header>
						<h2 class="category-list__title title">{{ post.title }}</h2>
						<span class="date">{{ post.date | date: "%-d %B %Y" }}</span>
					</header>
		      <a class="category-list__link" href="{{ post.url }}">
		      	{% if post.image %}
						<figure class="image-container">
							<img class="category-list__image" src="/images/posts/{{ post.image }}" alt={{post.title}} />
						</figure>
						{% endif %}
		      </a>
					<div class="category-list__excerpt">{{post.excerpt}}</div>
					<a  href="{{ post.url }}" class="read-more">Read Post</a>
		    </article>
			{% endif %}
		  {% endfor %}
		</section>
	</div>
</main>
