---
layout: default
---

<main class="content">
	<div class="wrapper wrapper--articles">
		<header >
			<h1 class="title title--wrapper"> Writing.</h1>
		</header>
	
		<section class="category-list">
			{% for post in site.posts %}
			{% if post.categories contains "writing" %}
		    <article class="category-list__item">
					<header>
						<h2 class="category-list__title title">{{ post.title }}</h2>
						<span class="date">{{ post.date | date: "%-d %B %Y" }}</span>
					</header>
		      <a class="category-list__link" href="{{ post.url }}">
		      	{% if post.image %}
						<figure class="image-container">
							<img class="category-list__image" src="/images/posts/{{ post.image }}" alt={{post.title}} />
						</figure>
						{% endif %}
		      </a>
					<div class="category-list__excerpt">{{post.excerpt}}</div>
					<a  href="{{ post.url }}" class="read-more">Read Post</a>
		    </article>
			{% endif %}
		  {% endfor %}
		</section>
	</div>
</main>
