---
layout: default
---

<main class="content">
	<div class="wrapper wrapper--articles">
		<header >
			<h1 class="title title--wrapper"> Writing.</h1>
		</header>
		<p class="category-description">
			This is my personal space. Here I write my daily thoughts about life, love, nature, meditation and, sometimes, work.
			I try to live my life filling it with love and living in harmony with the nature.
			I am just a human being and so I do mistakes, like everyone else. I like to talk about it on this blog.
			Sometimes you can find geeky articles about my work, but in most of the cases I write about my personal life.
			There is also a section about <a href="/reading" alt="books that I read">reading</a> and <a href="/travel" alt="Antonio traveling">travel</a>  
		</p>
		<section class="category-list">
			{% for post in site.posts %}
			{% if post.categories contains "writing" %}
		    <article class="category-list__item">
					<header>
						<h2 class="category-list__title title">{{ post.title }}</h2>
						<span class="date">{{ post.date | date: "%-d %B %Y" }}</span>
					</header>
		      <a class="category-list__link" href="{{ post.url }}">
		      	{% if post.image %}
						<figure class="image-container">
							<img class="category-list__image" src="/images/posts/{{ post.image }}" alt={{post.title}} />
						</figure>
						{% endif %}
		      </a>
					<div class="category-list__excerpt">{{post.excerpt}}</div>
					<a  href="{{ post.url }}" class="read-more">Read Post</a>
		    </article>
			{% endif %}
		  {% endfor %}
		</section>
	</div>
</main>
