<div id="page" class="page">
	<!--</header>-->
	<div class="header--top"></div>
	<div class="page__wrapper">
		<header class="header" role="banner">
			<a href="/" class="logo" id="logo">
				<span class="logo__circle">
					<span class="logo--text">A</span>
				</span>
			</a>
			<nav class="nav" role="navigation">
				<a href="/antonio/" title="About me">About</a>
				<a href="/journal" title="Journal">Journal</a>
				<a href="https://bitbucket.org/afullone" title="">Lab</a>
			</nav>
		</header>