<div id="page" class="page">
	
	<!--</header>-->
		<header class="main-header" role="banner">
			<nav class="main-nav">
				<ul class="nav-list">
					<li class="nav-list__item">
						<a href="#" class="nav-list__link">
							Projects Lab
						</a>
					</li>	
					<li class="nav-list__item">
						<a href="#" class="nav-list__link">
							Writing
						</a>
					</li>	
					<li class="nav-list__item">
						<a href="#" class="nav-list__link">
							<img class="logo" src="/images/logo.svg" alt="Antonio Fullone" />
						</a>
					</li>	
					<li class="nav-list__item">
						<a href="#" class="nav-list__link">
							Reading
						</a>
					</li>	
					<li class="nav-list__item">
						<a href="#" class="nav-list__link">
							Photos/Travel
						</a>
					</li>	
				</ul>	
			</nav>	
		</header>
