<div id="page" class="page">

	<!--</header>-->
		<header class="main-header" role="banner">
			<nav class="main-nav">
				<ul class="nav-list">
					<li class="nav-list__item">
						<a href="/projects" class="nav-list__link">
							Projects
						</a>
					</li>
					<li class="nav-list__item">
						<a href="/writing" class="nav-list__link">
							Writing
						</a>
					</li>
					<li class="nav-list__item">
						<a href="/" class="nav-list__link logo--link">
							<img class="logo" title="Antonio Fullone - Cosmic Meditator in love with life" alt="Antonio Fullone" src="/images/logo.svg" alt="Antonio Fullone" />
						</a>
					</li>
					<li class="nav-list__item">
						<a href="/reading" class="nav-list__link">
							Reading
						</a>
					</li>
					<li class="nav-list__item">
						<a href="/travel" class="nav-list__link">
							Travel
						</a>
					</li>
				</ul>
			</nav>
		</header>
