/* ==========================================================================
   Blog
   ========================================================================== */
.post {
	position: relative;
	top: -1em;
	.post-header {
		h1 {
			margin: 0;
			margin-top: #{map-get($typo_scale, ms2)}em; 
			text-align: center;
		}
	}
}