// /* ==========================================================================
//    Lab
//    ========================================================================== */
 
.lab {
	@extend .grid;
	max-width: 980px;
	margin: auto;
	.flexy-container {
		margin-top: 2.5em;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}
		@include mq(768px, min-width) {
			flex-direction: row;
		}
		.flexy-item {
			@include mq(768px, min-width) {
				flex: 1;
				margin: 30px;
			}
			figure {
				max-height: 200px;
			}
		}
	}	

	h1 { 
		text-align: center;
		max-width: 95%;
		margin: auto;
		@include toRem(map-get($scale, bigger));
		@include mq(768px, min-width) {
			@include toRem(map-get($scale, extra));
		}
	}

	article h2 {
		@include toRem(24);
	}
	.desc {
		display: block;
		margin: .5em 0;
		color: rgba(#222, 1);
	}
}
.actions {
	@extend %group; 
}
.btn {
	width: auto;
	min-width: 120px;
	padding: 10px;
	border-radius: 1px;
	background: rgba($cp-link, 0.8);
	color: #fff;
	font-size: 12px;
	font-style: italic;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px; 
	border: none;
	&:hover {
		background: lighten($cp-link, 5%);
	}
	&:last-child {
		margin-right: 0;
	}
	// border: 1px solid darken($cp-link, 20%);
	a {
		color: #fff;
		&:hover {
			text-decoration: none;
		}
	}
}