/* ==========================================================================
   Reset
   ========================================================================== */


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
	margin: 0;
}

/* ==========================================================================
   Layout
   ========================================================================== */

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	position: relative;
	z-index: 2;
	min-height: 100%;
}

body {
	max-width: 2000px;
	min-height: 100%;
	position: relative;
	top: 0;
}

.rwd-img {
	@include mq($bp-large-screen) {
		width: auto;
		max-width: 100%;
	}
	max-width: 100%;
	height: auto;
	width: 100%;

}

#page {
	@include mq($bp-large-screen) {
		max-width: 960px;
		margin: auto;
	} 
}
.page__wrapper {
	@extend %group;	
	max-width: 95%;
	margin: auto;
}

/* ==========================================================================
   Elements : Images
   ========================================================================== */

.img--me {
	display: block;
	margin: 1.5rem auto;
}

.img--about {
	display: block;
	opacity: 0.9;
	transition: all 0.3s ease-out;
	border: 1px solid inherit;  
	@include mq($bp-large-screen) {
		width: calc(1000% + 200px);
		max-width: 700px;
		margin-left: -200px;
	}
	figcaption {
		max-width: 180px;
	}
	& > img:hover {
		border: 1px solid $cp-orange;  
	}
}
.img--post-default {
	position: relative;
	max-width: 100%;
	img {
		@extend .rwd-img;
	}
	figcaption {
		@include mq($bp-large-screen) {
			position: absolute;
			z-index: 1;
			left: -90px;
			top: 0;
			max-width: 70px;		
		}
		max-width: 180px;
	}
}
.img--post-large {
	@include mq($bp-large-screen) {
		width: calc(100% + 200px);
		max-width: calc(100% + 200px);
		margin-left: -200px;
	}
	img {
		@extend .rwd-img;
		figcaption {
			max-width: 180px;
		}
	}
}

/* ==========================================================================
   Page : Home
   ========================================================================== */

.home {
	@include container(100%);
	@include mq($bp-large-screen) {
	}
}
.home__entry {
	@include mq($bp-large-screen) {
		@include span(6 of 12 last);
	}
	
}
.home__introduction {
	@include mq($bp-large-screen) {
		@include span(12 of 12);
	}
	.home__social {
		display: none;
		@include mq($bp-large-screen) {
			@include span(2 of 12);
			display: block;
		}
	}

}
.home__info {
	@include mq($bp-large-screen) {
		@include span(3 of 12); 
	}
	@include custom-mq($bp-medium-screen, $bp-large-screen) {
		@include span(3 of 12); 
	}

}

/* ==========================================================================
   Page : About
   ========================================================================== */

.title--about {
	margin-top:0;	
}
.about__me {
	@extend .home__introduction;
}
.about {
	@include custom-mq(640px, 1024px) {
		max-width: 34.172em;
		margin: auto;
	}
	@include mq($bp-large-screen) {
		@include container(100%); 
	}
	
}
.about__info {
	@include mq($bp-large-screen) {
		@include span(4 of 12); 
		margin-top: #{map-get($typo_scale, ms12)}em;
	}
}
.about__me { 
	@include mq($bp-large-screen) {
		@include span(7 of 12 last); 
	}
}
/* ==========================================================================
   Page : Journal
   ========================================================================== */

.title--journal {

}
.home__introduction {
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.journal__posts {
	list-style-type: hiragana-iroha;
	li a { 
		text-decoration: none;
	}
}
.journal {
	@extend .post;
	h1 {
		text-align: center;
	}
}
.post {
	@include mq($bp-medium-screen) {
		max-width: 34.172em;
		margin: auto;
	}
}
.post-content {
	img {
		height: auto;
		@include mq($bp-large-screen) {
			height: auto;
			max-height: 100%;
		}
	}
}
/* ==========================================================================
   Global.
   ========================================================================== */

.nav {
	float: left;
	text-transform: uppercase;
	margin: 1.5em 0 1.5em 1.5em;
	a {
		display: inline-block;
		margin-right:0.889em;
		text-decoration: none;
		color: #999999;
		&:last-child {
			margin-right: 0;
		}
	}
	@include mq($bp-large-screen) {
		float: right;
	} 
}