// Typography Mixins

@mixin freight {
	font-family: "freight-sans-pro-1", "freight-sans-pro-2", sans-serif;
	font-style: normal;
	font-weight: 400;
}

@mixin freightBold() {
	font-family: "freight-sans-pro-1", "freight-sans-pro-2", sans-serif;
	font-style: normal;
	font-weight: 700;
}

@mixin skolar {
	font-family: "skolar", "skolar-1", serif;
	font-style: normal;
	font-weight: 400;
}

@mixin scala {
	font-family: "ff-scala-web-1","ff-scala-web-2",sans-serif;
	font-style: normal;
	font-weight: 400;

}


@mixin freight-text-pro {
	font-family: "freight-text-pro-1", "freight-text-pro-2", sans-serif;
	font-style: normal;
	font-weight: 300;
}




// Return an em value based on the $base-font-size or contextual size. Thanks @ijy https://gist.github.com/ijy/1441967
@function em($target, $context: $base-font-size) {
	@if $target == 0 {
		@return 0
	}
	@return $target / $context + 0em;
}

// Generate a baseline guide equal to the rhythm unit
@mixin baseline-guide {
	background-image: linear-gradient($guide-color 1px, transparent 1px);
	background-size: 100% px($rhythm-unit);
}

.typogrid {}

html {
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	&.baseline {
		@include baseline-guide;
		@include mq($bp-large-screen) {
			background-size: 100% 1.875em; 
		}
	}
} 

body {
	//@include scala;
	@include freight-text-pro;
	font-size: #{$base-font-size}px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	color: $cp-light-black;
	line-height: $base-line-height;
}

p {
	line-height: 1.5;
	margin-bottom: 1.5em;
	@include mq($bp-large-screen) {

	}
	-webkit-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
	-moz-font-feature-settings: 'kern=1, onum=1, liga=1';
	-ms-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
	-o-font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
	font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
}

a {
	color: $cp-light-black;
	&:hover {
	}
	&:link {
	}
	&:active {
	}
	&:visited {
		color: $cp-light-black;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include freightBold;
	-webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
	-moz-font-feature-settings: 'dlig=1, liga=1, lnum=1, kern=1';
	-ms-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
	-o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
	font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
}

h1 {
	font-size: #{$base-font-size * map-get($typo_scale, ms9)}px; // Pixel :/
	font-size: #{map-get($typo_scale, ms9)}rem; // Rem
	line-height: 1.667;
	&.welcome-quote {
		@include skolar;  
		$typo_value: map-get($typo_scale, ms7) + map-get($typo_scale, ms3);
		@include toRem(map-get($typo_scale, x-large));
		text-align: center; 
		line-height: $typo_value;
		transition: all 0.3s ease-in;
		margin: #{round($typo_value * $base-font-size)}px auto;
		margin: #{$typo_value}rem auto;
		@include mq($bp-medium-screen) {
			@include toRem(map-get($typo_scale, extra));
			line-height: map-get($typo_scale, ms7);
		}
		&.title--about {
			margin: 0.667em 0;
		}
 
	}
}

h2 {
}

h3 {
}

h4,
h5 {
}

h6 {
}

.blink {
	text-decoration: line-through;
}

blockquote {
	font-style: italic;
	border-left : 1px solid $cp-grey;
	padding-left:10px;
	max-width: 85%;
	margin: auto;
}

ul,
ol {
	
}
ul {
	li {
	}
}

ol {
	li {
	}
}

em, 
strong, 
code {
	line-height: 1;
}


.meta {
	font-style: italic;
	display:block;
	text-align: center;
	line-height: map-get($typo_scale, ms9);
}

pre {
	font-size: #{$base-font-size - 3}px;
	line-height: 1.5;
	font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	font-weight: normal;
	font-style: italic;
	padding: 10px;
	color: #c09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #fbeed5;
	border-radius: 4px;
	max-width: 90%;
	background: #fcf8e3;
	overflow-x: auto;	
}
figure {
	position: relative;
	figcaption {
		@include toRem(map-get($typo_scale, small));
		font-style: italic;
		margin-top: 0.6667em;
		border-bottom: 1px dotted $cp-grey;
		width: auto;
		display: inline-block;
	}
}


.nav {
	@include toRem(18);
	@include freight;
	
}