/*=========================
  ABOUT
==========================*/
.about {
  position: relative;
}
.about__content {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.about__content > p:first-of-type:first-letter {
  font-size: var(--font-xxl);
  float: left;
  line-height: 0.68;
  font-weight: 100;
  margin: 0.05em 0.1em 0 0;
  text-transform: uppercase;
  font-style: normal;
}

.about-section p:first-of-type {
  font-style: italic;
}

.about-section h2 {
  font-size: var(--font-l);
}
.about h3 {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-black-light);
  position: relative;
  text-indent: 4px;
}
.about h3:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  left: -14px;
  top: 40%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--color-accent);
}
.about .social a {
  color: var(--color-black);
}
.about .social h3:before {
  background-color: #a9a3b2;
}
.about .websites h3:before {
  background-color: #c35864;
}
.about__links {
  position: fixed;
  z-index: 1000;
  bottom: 80px;
  left: 20px;
  width: 100%;
  max-width: 300px;
  padding: var(--margin);
  background-color: #fff;
  font-size: 14px;
  border-radius: 15px 0 15px 0;
  box-shadow: 1px 1px 30px #d9d7dd;
}
.about__links .fas {
  margin-right: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn--about {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  opacity: 1;
  border: none;
}

.btn--about .fas {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn--about .fas.active {
  transform: rotate(45deg);
}

.about__links > div {
  margin-bottom: var(--margin);
}
.about__links .social ul {
  max-width: 100%;
}
.about__links .social li {
  margin-bottom: var(--margin-half);
}
.about__img {
  --pad-width: calc(var(--grid-outer-gutter) * 2);
  margin-bottom: var(--margin-half);
  display: block;
  width: calc(100% + var(--pad-width));
  max-width: calc(100% + var(--pad-width));
  margin-left: calc(var(--grid-outer-gutter) * -1);
}
.img-caption {
  font-weight: 100;
  font-size: 0.667rem;
  font-style: italic;
  line-height: 1.5;
  width: 100%;
  color: var(--color-black-light);
  margin-bottom: var(--margin);
  text-align: center;
}

.home-section {
  padding-left: var(--grid-outer-gutter);
  padding-right: var(--grid-outer-gutter);
}

@media screen and (min-width: 980px) {
  .home-section {
    padding: 0 !important;
  }
  .about__img {
    max-width: 100%;
    margin-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .about__img {
    max-width: 100%;
    margin-left: 0;
  }
  .about {
    display: grid;
    grid-column-gap: var(--grid-column-gutter);
    grid-row-gap: var(--margin);
    grid-template-columns: repeat(12, minmax(var(--grid-column-width), 1fr));
    width: 100%;
  }
  .about > header {
    grid-column: 1 / -1;
  }
  .about > header h1 {
    margin-bottom: 0;
  }
  .about > figure {
    grid-column: 1 / -1;
  }
  .about__content {
    grid-column: 1 / 9;
  }
  .img-caption {
    margin-bottom: 0;
  }
  .about__img {
    object-fit: cover;
    height: 450px;
    width: 100%;
  }

  .about__links {
    display: block;
    position: relative;
    z-index: 10;
    left: 0;
    bottom: 0;
    padding: 0;
    box-shadow: none;
    background: transparent;
    max-width: 100%;
    grid-column: 9 / -1;
  }
  .about .social,
  .about .files,
  .about .websites {
    max-width: 250px;
    margin-left: 30%;
  }
}

@media screen and (min-width: 1280px) {
  .about > figure {
    grid-row: 2 / 2;
    grid-column: 9 / -1;
  }
  .about__img {
    height: 300px;
  }
  .about__content {
    margin-left: 0;
    margin-right: 0;
    grid-row: 2 / 4;
    grid-column: 1 / 9;
  }
  .about__links {
    grid-row: 3 / 3;
    grid-column: 9 / -1;
  }
}
