/*=========================
  ABOUT
==========================*/
.about-section {
  background: #fff;
}

.about__content > p:first-of-type:first-letter {
  float: left;
  font-size: var(--font-xl);
  padding-top: 12px;
  padding-right: 1px;
  padding-left: 0;
  font-style: normal;
}

.about-section p:first-of-type {
  font-style: italic;
}

.about-section h2 {
  font-size: var(--font-l);
}
.about {
  position: relative;
}
.about h3 {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-black-light);
  position: relative;
}
.about h3:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  left: -14px;
  top: 40%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--color-accent);
}
.about .social h3:before {
  background-color: #a9a3b2;
}
.about .websites h3:before {
  background-color: #c35864;
}
.about__links {
  position: fixed;
  z-index: 1000;
  bottom: 100px;
  left: 20px;
  width: 100%;
  max-width: 300px;
  padding: var(--margin);
  background-color: var(--color-primary-light);
  font-size: 14px;
}
.btn--about {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-accent);
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.about__links > div {
  margin-bottom: var(--margin);
}
.about__links .social ul {
  max-width: 100%;
}

.about__img {
  --pad-width: calc(var(--grid-outer-gutter) * 2);
  margin-bottom: var(--margin-half);
  display: block;
  width: calc(100% + var(--pad-width));
  max-width: calc(100% + var(--pad-width));
  margin-left: calc(var(--grid-outer-gutter) * -1);
}
.img-caption {
  font-weight: 100;
  font-size: 0.667rem;
  font-style: italic;
  line-height: 1.5;
  width: 100%;
  color: var(--color-black-light);
  margin-bottom: var(--margin);
  text-align: center;
}
.img-divider {
  position: relative;
  width: 8px;
  height: 8px;
  background-color: var(--color-accent);
  display: block;
  margin: 0 auto var(--margin-half) auto;
}
.img-divider:before {
  position: absolute;
  content: ' ';
  width: 8px;
  height: 8px;
  background-color: var(--color-accent);
}
.img-divider:after {
  position: absolute;
  content: ' ';
  width: 8px;
  height: 8px;
  background-color: var(--color-accent);
}
.home-section {
  padding-left: var(--grid-outer-gutter);
  padding-right: var(--grid-outer-gutter);
}

@media screen and (min-width: 980px) {
  .home-section {
    padding: 0 !important;
  }
}
