@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 80%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeIn {
  animation-duration: 1s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
}
.fadeInUp {
  animation-duration: 1s;
  animation-name: fadeInUp;
  animation-fill-mode: forwards;
}
