.posts {
  padding-left: var(--grid-outer-gutter);
  padding-right: var(--grid-outer-gutter);
  margin: var(--margin-xl) auto auto;
}
.blogpost {
  margin-bottom: var(--margin);
  padding: var(--margin-half);
  position: relative;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.blogpost:last-of-type {
  padding-bottom: 0;
}

.post-excerpt {
  width: 90%;
  margin-bottom: 0;
  margin-top: var(--margin-half);
}

.post-title {
  line-height: 1;
  margin-bottom: 0;
  position: relative;
  font-size: 1.2rem;
}
.read-post {
  text-align: right;
  margin-right: var(--margin);
  font-size: var(--font-m);
  margin-bottom: 0;
}
.post-category {
  font-size: 14px;
  text-transform: capitalize;
  margin: var(--margin-half) 0;
  color: var(--color-accent);
}
.post-date {
  display: block;
  font-style: italic;
  font-size: 12px;
  font-style: normal;
  color: var(--color-black-light);
  font-family: 'freight-sans-pro', sans-serif;
}
.post-desc {
  margin-bottom: 0;
  font-size: 1rem;
}
.read-more,
.read-more:visited {
  display: block;
  width: 100%;
  color: var(--color-black);
  text-decoration: none;
}
.reading-time {
  display: block;
}

@media screen and (min-width: 1024px) {
  .post-title {
    font-size: var(--font-m);
  }
  .post-title:before {
    left: -23px;
  }
  .posts {
    padding: 0;
    max-width: 700px;
  }
}

@media screen and (min-width: 1600px) {
  .blogpost--first .post-image {
    max-width: 62%;
    margin-left: -12%;
  }
}

@media screen and (min-width: 1024px) and (max-height: 800px) {
  .blogpost--first .post-image {
    max-height: 450px;
  }
}
