.posts {
  padding-left: var(--grid-outer-gutter);
  padding-right: var(--grid-outer-gutter);
}
.blogpost {
  margin-bottom: var(--margin-xl);
}
.blogpost--first {
  margin-top: var(--margin-l);
}
.post-image {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  margin-top: var(--margin-half);
}
.post-excerpt {
  width: 90%;
  margin-bottom: 0;
  margin-top: var(--margin-half);
}

.blogpost--first .post-image {
  display: block;
  max-width: calc(100% + calc(var(--grid-outer-gutter) * 2));
  margin-left: calc(var(--grid-outer-gutter) * -1);
}
.blogpost .post-header {
  position: relative;
}
.blogpost--first .post-excerpt {
  width: 100%;
}
.blogpost--first .post-header {
  text-align: center;
}
.blogpost--first .post-title {
  text-align: center;
  font-size: var(--font-l);
}
.post-title {
  line-height: 1.2;
  margin-bottom: 0;
  text-align: left;
  /* display: -webkit-box; */
  /* -webkit-box-orient: vertical; */
  /* -webkit-line-clamp: 3; */
  /* height: calc(1.2 * 3 * 21px); */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
}

.post-date {
  margin-bottom: var(--margin-half);
  display: block;
  font-style: italic;
  font-size: 12px;
  font-style: normal;
  color: var(--color-black-light);
}
.read-more,
.read-more:visited {
  display: block;
  width: 100%;
  text-align: right;
  padding-right: var(--grid-outer-gutter);
  margin-top: var(--grid-outer-gutter);
  color: var(--color-accent);
}

@media screen and (min-width: 1024px) {
  .posts {
    display: grid;
    grid-column-gap: var(--grid-column-gutter);
    grid-template-columns: repeat(4, minmax(var(--grid-column-width), 1fr));
    width: 100%;
    padding: 0;
  }

  .blogpost--first {
    display: flex;
    flex-wrap: nowrap;
    grid-column: 1 / -1;
    padding-bottom: var(--margin);
    border-bottom: 2px solid #f2f2f2;
    align-items: flex-start;
  }

  .blogpost--first .post-image {
    max-width: 55%;
    height: 100%;
    max-height: 600px;
    margin-left: -90px;
    margin-right: 30px;
    object-fit: cover;
  }

  .blogpost--first .post-header {
    margin-bottom: var(--margin);
    min-height: 120px;
    text-transform: uppercase;
    text-align: center;
  }
  .blogpost--first .post-header h1 {
    line-height: 1.5;
    max-width: 80%;
    margin: auto;
    text-align: center;
  }
  .blogpost--first .post-content {
    flex: 1;
  }

  .blogpost--first .post-header:after {
    content: '';
    position: absolute;
    height: 4px;
    background: var(--color-accent);
    width: calc(var(--margin) * 3);
    left: 50%;
    transform: translateX(-50%);
  }

  .second-row {
    position: relative;
    max-width: 100%;
    grid-column: auto / span 2;
  }
  .second-row .post-content {
    max-width: 90%;
  }
  .second-row .post-image {
    height: 240px;
    width: 100%;
    object-fit: cover;
  }
  .second-row:after {
    position: absolute;
    content: '';
    bottom: -15px;
    height: 1px;
    width: calc(100% + 15px);
    background: #f2f2f2;
  }
  .second-row:not(.second-row--odd) {
    margin-left: 15px;
  }
  .second-row:not(.second-row--odd):after {
    left: -30px;
    width: calc(100% + 30px);
  }

  .second-row--odd:before {
    position: absolute;
    content: '';
    width: 1px;
    background: #f2f2f2;
    height: calc(100% + 15px);
    right: -15px;
    top: 0;
  }

  .third-row {
    grid-column: 1 / -1;
    display: grid;
    grid-column-gap: var(--grid-column-gutter);
    grid-template-columns: repeat(3, minmax(var(--grid-column-width), 1fr));
  }

  .third-row .post-image {
    grid-column: 1 /1;
  }
  .third-row .post-content {
    grid-column: 2 / -1;
  }
}

@media screen and (min-width: 1600px) {
  .blogpost--first .post-image {
    max-width: 62%;
    margin-left: -12%;
  }
}

@media screen and (min-width: 1024px) and (max-height: 800px) {
  .blogpost--first .post-image {
    max-height: 450px;
  }
}
