/*=========================
    FOOTER
==========================*/

.site-footer {
  color: var(--color-black-light);
  font-size: 13px;
  line-height: 1.3;
  position: relative;
}
.site-footer:before {
  content: '';
  display: block;
  width: 100%;
  position: relative;
  bottom: -1px;
  left: -1px;
  height: 217px;
  background: url('../images/bg_footer.svg') no-repeat left bottom;
  background-size: contain;
}
.site-footer p {
  /* margin-bottom: 0; */
}

.footer-container {
  grid-template-rows: auto;
  grid-template-areas:
    'heading heading heading heading heading heading'
    'blog blog blog blog blog blog'
    'credits credits credits reading reading reading'
    'social social social . . .'
    'address address address . . logo'
    'tagline tagline tagline tagline tagline tagline';
  padding: 0 var(--grid-outer-gutter);
}
.footer-wrapper {
  background-color: var(--color-black-dark);
  max-width: 100%;
}
.site-footer__header {
  color: #fff;
  line-height: 1.3;
  grid-area: heading;
  margin-bottom: 0;
}
.blog {
  /* margin-bottom: var(--margin-xl); */
  grid-area: blog;
}
.blog .footer-header {
  margin: 0;
}
.footer-header {
  border-bottom: 1px inset var(--color-black-light-800);
  padding-bottom: 8px;
  font-family: freight-sans, sans-serif;
  font-weight: 700;
  margin: var(--margin-half) 0;
}
.footer-header--full {
  max-width: 100%;
}

.footer-header--blog {
  margin-bottom: 0;
}

.post {
  grid-column: auto / span 2;
}

.post__title {
  display: block;
  display: -webkit-box;
  font-size: 14px;
  line-height: 1.5;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(1.5 * 3 * 14px);
  font-family: freight-sans, sans-serif;
  font-weight: 700;
}
.post__link {
  display: block;
  width: 100%;
}
.post__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.credits {
  grid-area: credits;
}

.reading {
  grid-area: reading;
}

.extra a {
  display: block;
  color: var(--color-black-light);
  font-size: 14px;
  line-height: 1.3;
  position: relative;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.extra a:before {
  content: ' ';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--color-accent-700);
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  transition: background 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.extra a:hover:before {
  background: var(--color-accent);
}

.extra li {
  margin-bottom: 4px;
  padding-left: var(--grid-column-gutter);
}

.social {
  grid-area: social;
}

.social ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 220px;
}

.social li {
  flex: 1 1 18%;
  max-width: 18%;
  margin-bottom: var(--grid-column-gutter);
}

.social .fab,
.social .fas {
  font-size: var(--base-font);
}
.social--footer a {
  color: var(--color-black-light);
}

.info-address {
  grid-area: address;
}
.info-address p {
  margin-bottom: 8px;
  line-height: 1;
}

.site-footer .logo {
  grid-area: logo;
  align-self: center;
}
.site-footer .logo__link {
  width: 40px;
  height: 40px;
}

.footer-tagline {
  font-size: 16px;
  border-bottom: 1px solid var(--color-black-light);
  grid-area: tagline;
  padding-bottom: var(--grid-column-gutter);
  display: inline-table;
  align-self: end;
  margin-bottom: var(--margin-xl);
}

.subfooter {
  background: var(--color-black);
  text-align: center;
  grid-area: subfooter;
  min-height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subfooter p {
  margin-bottom: 0;
}
.subfooter a {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .credits ul {
    display: flex;
    flex-wrap: wrap;
  }
  .credits li {
    flex: 1 1 50%;
    max-width: 50%;
  }
}
