/*=========================
    FOOTER
==========================*/

.site-footer {
  background-color: var(--color-black-dark);
  color: var(--color-black-light);
  font-size: 13px;
  line-height: 1.3;
  position: relative;
}

.site-footer p {
  margin-bottom: 0;
}

.footer-container {
  grid-template-rows: auto;
  grid-template-areas:
    'heading heading heading heading'
    'blog blog blog blog'
    'credits credits reading reading'
    'address address address .'
    'social social social .'
    'tagline tagline tagline tagline';
  padding: 0 var(--grid-column-gutter);
}
.site-footer__header {
  color: #fff;
  line-height: 1.3;
  grid-area: heading;
}
.blog {
  margin-bottom: var(--margin-xl);
  grid-area: blog;
}
.footer-header {
  border-bottom: 1px solid var(--color-black-light);
  padding-bottom: 4px;
  font-family: freight-sans, sans-serif;
  font-weight: 700;
}
.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.post {
  flex: 1 1 30%;
  max-width: 31%;
}
.post__title {
  display: block;
  display: -webkit-box;
  font-size: var(--font-s);
  line-height: 1.3;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(1.3 * 3 * var(--font-s));
  font-family: freight-sans, sans-serif;
  font-weight: 700;
}
.post__link {
  display: block;
  width: 100%;
}
.post__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.credits {
  grid-area: credits;
}

.reading {
  grid-area: reading;
}

.extra a {
  display: block;
  color: var(--color-black-light);
  font-size: 14px;
  line-height: 1.3;
  position: relative;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.extra a:before {
  content: ' ';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--color-accent-700);
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  transition: background 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.extra a:hover:before {
  background: var(--color-accent);
}

.extra li {
  margin-bottom: 4px;
  padding-left: var(--grid-column-gutter);
}

.social {
  grid-area: social;
}

.social ul {
  display: flex;
  flex-wrap: wrap;
}

.social li {
  flex: 1 1 18%;
  max-width: 18%;
  margin-bottom: var(--grid-column-gutter);
}

.social .fab,
.social .fas {
  font-size: var(--base-font);
}
.social--footer {
  max-width: 240px;
}
.social--footer a {
  color: var(--color-black-light);
}

.info-address {
  grid-area: address;
  max-width: 180px;
}
.info-address p {
  margin-bottom: 8px;
  line-height: 1;
}

.site-footer .logo {
  grid-area: logo;
  justify-self: center;
  display: none;
}
.site-footer .logo__link {
  width: 40px;
  height: 40px;
}

.footer-tagline {
  font-size: 16px;
  border-bottom: 1px solid var(--color-black-light);
  grid-area: tagline;
  padding-bottom: var(--grid-column-gutter);
  display: inline-table;
}

.subfooter {
  background: var(--color-black);
  text-align: center;
  grid-area: subfooter;
  min-height: 44px;
  margin-top: var(--margin-xl);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subfooter p {
  margin-bottom: 0;
}
.subfooter a {
  color: #fff;
}

@media screen and (min-width: 600px) {
  .footer-container {
    padding-left: 30px;
    padding-right: 30px;
    grid-column-gap: 20px;
    grid-template-areas:
      'heading heading heading heading heading heading . .'
      'blog blog blog blog blog blog blog blog'
      'credits credits credits . reading reading reading .'
      'address address address . social social social .'
      'tagline tagline tagline tagline tagline . . .';
  }
}

@media screen and (min-width: 980px) {
  .site-footer .logo {
    display: block;
    margin-top: var(--margin-xl);
  }
  .site-footer__header {
    padding: 0;
  }
  .footer-container {
    max-width: 940px;
    padding: 0;
    grid-template-areas:
      'logo . . . . . . . . . . .'
      'address address address heading heading heading heading heading heading . reading reading'
      '. . . blog blog blog blog blog blog blog credits credits'
      'social social social tagline tagline tagline tagline tagline tagline tagline . .';
  }
}

@media screen and (min-width: 1300px) {
  .footer-container {
    max-width: 1280px;
  }
}
