/*=========================
  GLOBAL
==========================*/
.dark-theme {
  background-color: var(--color-black);
}
.index {
  width: 100%;
  max-width: 100%;
}
.grid-margin {
  margin: 0 var(--margin);
}

.grid-margin--half {
  margin: 0 var(--margin-half);
}
