/*=========================
  GLOBAL
==========================*/
body {
  scroll-behavior: smooth;
}
.page {
  transition: all 0.5s ease-in-out;
  background-color: var(--color-primary-light);
  scroll-behavior: smooth;
}
.dark-theme {
  background-color: var(--color-black);
}
.index {
  width: 100%;
  max-width: 100%;
}
.grid-margin {
  margin: 0 var(--margin);
}

.grid-margin--half {
  margin: 0 var(--margin-half);
}

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.has-gutter-outside {
  padding-right: var(--grid-outer-gutter);
  padding-left: var(--grid-outer-gutter);
}
.btn {
  display: inline-block;
}
.btn--cta {
  background-color: var(--color-accent);
  color: #fff;
}
.btn--rounded {
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.img-divider {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-accent);
  position: relative;
  margin: var(--margin-half) auto;
}
.img-divider:before {
  position: absolute;
  content: ' ';
  width: 8px;
  height: 8px;
  left: -16px;
  border-radius: 50%;
  background-color: var(--color-accent);
}
.img-divider:after {
  position: absolute;
  content: ' ';
  width: 8px;
  height: 8px;
  right: -16px;
  border-radius: 50%;
  background-color: var(--color-accent);
}
.index > section {
  margin-bottom: var(--margin-xl);
  padding-bottom: var(--padding-xl);
}

.msg {
  font-size: var(--font-s);
  padding: 8px 16px;
  opacity: 0;
  transform: scale3d(0, 0, 0);
  right: var(--grid-outer-gutter);
  transition: all 0.1s cubic-bezier(0.47, 0, 0.745, 0.715);
  position: absolute;
  z-index: 1000;
  top: 100%;
  border-radius: 8px;
  border: 1px solid hsla(85, 88%, 65%, 1);
}
.msg.active {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
.msg .close-icon {
  position: absolute;
  top: -8px;
  right: -20px;
  cursor: pointer;
}
.msg a {
  text-decoration: none;
  color: var(--color-accent);
  font-weight: 600;
}
.msg > i {
  margin-right: 8px;
  color: #8db350;
}
.msg--info {
  background-color: hsla(85, 88%, 90%, 1);
}

@media screen and (min-width: 980px) {
  .has-gutter-outside {
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1240px;
  }
}

/* Extra important */
.viewport {
  display: none !important;
}
.no-opacity {
  opacity: 0 !important;
}
