/*=========================
  GLOBAL
==========================*/
.dark-theme {
  background-color: var(--color-black);
}
.index {
  width: 100%;
  max-width: 100%;
}
.grid-margin {
  margin: 0 var(--margin);
}

.grid-margin--half {
  margin: 0 var(--margin-half);
}

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1300px) {
  .container {
    max-width: 1280px;
  }
}
