/* Base grid mobile first:  4 columns  */
.grid {
  display: grid;
  grid-column-gap: var(--grid-column-gutter);
  grid-row-gap: var(--grid-row-gutter);
  grid-template-columns: repeat(6, minmax(var(--grid-column-width), 1fr));
  width: 100%;
}

.grid-align-center {
  align-items: center;
}

.grid-large-rowgap {
  grid-row-gap: var(--margin-xxl);
}

/* Utils */
.grid__item--full-width {
  grid-column: 1 / -1;
}

@media screen and (min-width: 1024px) {
  /* Grid now is 12 columns */
  .grid {
    grid-template-columns: repeat(12, minmax(var(--grid-column-width), 1fr));
  }
}
