/*=========================
  HEADER
==========================*/

.site-header {
  height: var(--header-height);
  width: 100%;
  margin: 0 auto;

  /* Position Sticky creates a new stack */
  position: sticky;
  position: -webkit-sticky;
  z-index: 1000;
  transform: translateY(-30%);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-delay: 1s;
}
.site-header.is-loaded {
  transform: translateY(0);
  opacity: 1;
}
.site-header > .container {
  height: 100%;
}

.site-header .logo {
  grid-column: 1 / 2;
}

.site-header .site-nav {
  max-width: 100%;
  grid-column: 2 / -1;
  position: relative;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
}

.logo {
  --size: calc(var(--header-height) / 2);
  width: var(--size);
  height: var(--size);
}

.logo__link {
  display: block;
  width: 100%;
  height: 100%;
}

.logo__img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 340px) {
  .nav-list__item {
    margin-left: var(--grid-column-gutter);
  }
}
@media screen and (min-width: 980px) {
  .site-header {
    padding: 0;
  }
  .site-header .site-nav {
    grid-column: 8 / -1;
  }
}
