/*=========================
  HEADER
==========================*/

.site-header {
  height: var(--header-height);
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--grid-column-gutter);

  /* Position Sticky creates a new stack */
  position: sticky;
  position: -webkit-sticky;
  z-index: 100;
  top: 0;
}
.site-header > .container {
  height: 100%;
}

.site-header .logo {
  grid-column: 1 / 1;
}

.site-header .site-nav {
  max-width: 100%;
  grid-column: auto / -1;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
}
.nav-list__item {
  width: auto;
  text-transform: uppercase;
  font-size: 0.667rem;
  margin-left: var(--grid-column-gutter);
}
.nav-list__link,
.nav-list__link:visited {
  font-weight: 600;
  color: var(--color-black-dark);
  text-decoration: none;
}

.logo {
  width: 28px;
  height: 28px;
}

.logo__link {
  display: block;
  width: 100%;
  height: 100%;
}

.logo__img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 340px) {
  .nav-list__item {
    margin-left: var(--grid-column-gutter);
  }
}
@media screen and (min-width: 980px) {
  .site-header {
    padding: 0;
  }
  .site-header .site-nav {
    grid-column: 8 / -1;
  }
}
