/*=========================
  SECTION - INTRO
==========================*/
.main-section {
  position: relative;
  background-repeat: no-repeat;
}
.intro {
  padding-top: var(--padding-xl);
  min-width: 100%;
}
.intro > * {
  margin-bottom: var(--margin);
  display: block;
}
.intro__header {
  font-size: var(--font-dy-l);
  line-height: var(--font-s);
  line-height: 0.667;
  position: relative;
}
.intro__header:after {
  display: block;
  content: ' ';
  height: 1px;
  background-color: var(--color-black-light-800);
  width: 50%;
  margin: var(--margin) auto;
}
.tagline {
  position: relative;
}
.intro__tagline,
.i-am-cool {
  font-size: var(--font-dy-m);
  font-weight: normal;
  line-height: 1;
  margin-bottom: var(--margin-half);
  display: block;
}
.i-am-cool {
  margin-bottom: var(--margin);
}
.intro__qualified {
  font-size: var(--font-dy-s);
  font-weight: normal;
  font-style: italic;
  line-height: 1;
  display: block;
}

.illustration {
  position: relative;
  position: relative;
  background-color: var(--color-primary-light);
}
.illustration:before {
  content: none;
  width: 100%;
  height: 40px;
  display: block;
  background-image: linear-gradient(
    to right top,
    var(--color-primary-light) 50%,
    #fff 0
  );
}
.illustration:after {
  content: none;
  width: 100%;
  height: 40px;
  display: block;
  background-image: linear-gradient(
    to left bottom,
    var(--color-primary-light) 50%,
    #fff 0
  );
}
.illustration__container {
  min-height: 17rem;
}
.vespa {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 230px;
}
.italy {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 390px;
}
@media screen and (min-width: 600px) {
  /*
  .intro__header {
    font-size: var(--font-xl);
  }
  .intro__tagline,
  .i-am-cool {
    font-size: var(--font-m);
    line-height: 1;
  }
  .intro__qualified {
    font-size: var(--base-font);
  }
  */
}

@media screen and (min-width: 1024px) {
  .main-section {
    min-height: calc(95vh - (var(--header-height)));
    height: calc(100vh - (var(--header-height)));
  }
  .container--intro {
    height: 100%;
    align-items: center;
  }
  .intro__header {
    font-size: 7vw;
  }
  .intro__tagline,
  .i-am-cool {
    font-size: var(--font-l);
    line-height: 1;
  }
  .intro__qualified {
    font-size: var(--base-font);
  }

  .intro {
    grid-column: 1 / 9;
    margin: 0;
    padding: 0;
  }
  .illustration {
    grid-column: 9 / 13;
  }
  .illustration__container {
    max-height: 50%;
  }
}

@media screen and (min-width: 1280px) {
  .intro__header {
    /* font-size: 7.5rem; */
  }
}

@media screen and (max-height: 768px) {
  .main-section {
    min-height: calc(95vh - (var(--header-height)));
    align-items: center;
  }
}
