/*=========================
  SECTION - INTRO
==========================*/
.main-section {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: var(--header-height);
  left: 0;
  background-repeat: no-repeat;
  height: calc(100vh - var(--header-height));

  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.container--intro {
  height: 100%;
  align-items: center;
  grid-template-rows: 1fr;
}
.intro {
  min-width: 100%;
  grid-column: 1 / -1;
  align-self: end;
}
.intro > * {
  margin-bottom: var(--margin);
  display: block;
}
.intro__header {
  font-size: var(--font-dy-l);
  line-height: var(--font-s);
  line-height: 0.667;
  position: relative;
  margin-bottom: 0;
}
.intro__header:after {
  display: block;
  content: ' ';
  height: 1px;
  top: 2px;
  position: relative;
  background-color: var(--color-black-light-800);
  width: 50%;
  margin: var(--margin) auto;
}
.tagline {
  position: relative;
}
.intro__tagline,
.i-am-cool {
  font-size: var(--font-dy-m);
  font-weight: normal;
  line-height: 1;
  margin-bottom: var(--margin-half);
  display: block;
}
.i-am-cool {
  margin-bottom: var(--margin);
}
.intro__qualified {
  font-size: var(--font-dy-s);
  font-weight: normal;
  font-style: italic;
  line-height: 1;
  display: block;
}

.illustration {
  position: relative;
  grid-column: 1 / -1;
}
.illustration__container {
  background: url('../images/bg_vespa_desktop.svg') no-repeat center;
  background-size: contain;
  min-height: 17rem;
}
.vespa {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 230px;
}
.italy {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 390px;
}

@media screen and (min-width: 1024px) {
  .intro__header {
    font-size: 7vw;
  }
  .intro__tagline,
  .i-am-cool {
    font-size: var(--font-l);
    line-height: 1;
  }
  .intro__qualified {
    font-size: var(--base-font);
  }

  .intro {
    grid-column: 1 / 9;
    margin: 0;
    padding: 0;
    align-self: center;
  }
  .illustration {
    grid-column: 9 / 13;
  }
  .illustration__container {
    max-height: 50%;
  }
}
