/*=========================
  SECTION - INTRO
==========================*/
.main-section {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: var(--header-height);
  left: 0;
  background-repeat: no-repeat;
  height: calc(100vh - var(--header-height));

  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.container--intro {
  height: 100%;
  align-items: center;
  grid-template-rows: 1fr;
}

.skeleton {
  grid-column: 2 / 6;
  align-self: end;
}
.intro {
  min-width: 100%;
  grid-column: 1 / -1;
}
.intro > * {
  display: block;
}
.intro__header {
  font-size: var(--font-dy-l);
  line-height: var(--font-s);
  line-height: 0.667;
  position: relative;
  margin-bottom: 0;
}
.intro__header:after {
  display: block;
  content: ' ';
  height: 1px;
  top: 2px;
  position: relative;
  background-color: var(--color-black-light-800);
  width: 50%;
  margin: var(--margin) auto;
}
.tagline {
  position: relative;
}
.intro__tagline,
.i-am-cool {
  font-size: var(--font-dy-m);
  font-weight: normal;
  line-height: 1;
  margin-bottom: var(--margin-half);
  display: block;
}
.i-am-cool {
  margin-bottom: var(--margin);
}
.intro__qualified {
  font-size: var(--font-dy-s);
  font-weight: normal;
  font-style: italic;
  line-height: 1;
  display: block;
}

.illustration {
  position: relative;
  grid-column: 1 / -1;
  min-height: 40vh;
}
.illustration__container {
  /* background: url('../images/bg_vespa_desktop.svg') no-repeat center; */
  background-size: contain;
  background-position: center;
  position: relative;
  height: 100%;
}
.vespa {
  position: relative;
  z-index: 1000;
  display: block;
  margin: 0 auto;
  width: 60%;
  max-width: 300px;
}
.italy {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 390px;
}

@media screen and (min-width: 1024px) {
  .intro__header {
    font-size: 7vw;
  }
  .intro__tagline,
  .i-am-cool {
    font-size: var(--font-l);
    line-height: 1;
  }
  .intro__qualified {
    font-size: var(--base-font);
  }

  .intro,
  .skeleton {
    grid-column: 1 / 8;
    margin: 0;
    padding: 0;
    align-self: center;
    min-height: 40vh;
  }
  .illustration {
    grid-column: 8 / 13;
    min-height: 30vh;
  }
  .illustration__container {
    max-height: 50%;
    min-height: 21rem;
    background-position: right;
  }
  .vespa {
    width: 65%;
  }
  .italy {
    width: 100%;
    top: 35%;
  }
}

@media screen and (min-width: 1280px) {
  .vespa {
    width: 100%;
    max-width: 60%;
  }
  .italy {
    width: 100%;
    max-width: 100%;
    top: 40%;
  }
}
