.post__title {
  margin-top: var(--margin);
  margin-bottom: var(--margin-half);
  text-align: center;
  line-height: 1;
}

.post__meta {
  font-size: var(--font-s);
  color: var(--color-black-light);
  display: block;
  text-align: center;
}

.post__content {
  margin: var(--margin) auto;
  max-width: 700px;
}

.post__content > p:first-of-type:first-letter {
  font-size: var(--font-xxl);
  float: left;
  line-height: 0.68;
  font-weight: 100;
  margin: 0.1em 0.1em 0 0;
  text-transform: uppercase;
  font-style: normal;
}

.post__content code {
  font-size: 16px;
}

.follow-links {
  /* background-color: var(--color-primary-light); */
  padding: var(--padding-half);
  border-bottom: 1px solid var(--color-primary-light);
}

.next-previous {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.next {
  margin-right: var(--margin);
  margin-left: auto;
}
.next-previous li {
  width: auto;
}
.next-previous li a {
  color: var(--color-accent);
  margin-bottom: var(--margin-half);
}

.next-post {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-right: var(--baseline);
  text-align: right;
}

.prev-post {
  display: inline-block;
  position: relative;
  width: 100%;
  text-indent: var(--baseline);
}

.next-post:after,
.next-post:before,
.prev-post:after,
.prev-post:before {
  position: absolute;
  content: '';
  width: 1px;
  height: 24px;
  background: var(--color-primary);
  transform-origin: bottom;
  top: -6px;
}

.prev-post:after {
  left: 0;
  transform: rotate(135deg);
}
.prev-post:before {
  left: 0;
  transform: rotate(45deg);
}

.next-post:after {
  right: 0;
  transform: rotate(-135deg);
}
.next-post:before {
  right: 0;
  transform: rotate(-45deg);
}

.related-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.post--related .post-excerpt {
  max-width: 90%;
  margin: 0;
  font-size: 16px;
}
.main-image figcaption:after {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  background: var(--color-accent);
  margin: var(--margin-half) auto;
  position: relative;
}
.main-image figcaption {
  font-size: 12px;
  font-weight: 100;
  display: block;
  text-align: center;
  margin: var(--margin-half) auto;
  position: relative;
  color: var(--color-black-light);
}
.post .post-image {
  display: block;
  width: 100%;
}
.post--related {
  display: block;
  flex: 1 1 100%;
  width: 100%;
  padding: var(--padding-half);
  margin-bottom: var(--margin);
  /* border: 1px solid var(--color-primary-light); */
}
.post--related h3 {
  font-size: var(--base-font);
}
.related-posts__title {
  min-width: 100%;
}
@media screen and (min-width: 768px) {
  .post--related {
    flex-basis: 30%;
    max-width: 30%;
    margin-bottom: var(--margin-half);
  }
}
