.post {
  margin-top: var(--margin-l);
  font-size: 16px;
}

.post h2 {
  margin-bottom: var(--margin-half);
}

.post__title {
  margin-top: var(--margin);
  margin-bottom: var(--margin-half);
  text-align: center;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.post__meta {
  font-size: var(--font-s);
  color: var(--color-black-light);
  display: block;
  text-align: center;
  margin-bottom: var(--margin);
}

.post__content {
  margin: var(--margin) auto;
  max-width: 700px;
}
.post__content ul {
  list-style-type: disc;
  padding-left: var(--padding);
  margin-bottom: var(--baseline);
}
.post__content ol {
  list-style-type: decimal;
  padding-left: var(--padding);
  margin-bottom: var(--baseline);
}
.post__content ol li,
.post__content ul li,
.post__content dl dd,
.post__content dl dt {
  margin-bottom: 4px;
}
.post__content figcaption {
  font-size: 14px;
  box-shadow: none;
  color: var(--color-black-light);
  font-family: 'freight-sans-pro', sans-serif;
  margin-bottom: var(--margin-half);
  font-weight: 100;
}

.image--full-width {
  display: block;
  width: calc(100% + var(--grid-outer-gutter) + var(--grid-outer-gutter));
  max-width: calc(100% + var(--grid-outer-gutter) + var(--grid-outer-gutter));
  margin-left: calc(var(--grid-outer-gutter) * -1);
  max-height: 700px;
}

.image--full-width img {
  object-fit: cover;
  height: 100%;
}

.image--right {
  float: right;
  max-width: 60%;
}

.post__content blockquote {
  font-style: italic;
  color: var(--color-black-light);
  margin: var(--margin-l) auto;
  max-width: 90%;
}

.post__content > p:first-of-type:first-letter {
  font-size: var(--font-xxl);
  float: left;
  line-height: 0.68;
  font-weight: 100;
  margin: 0.05em 0.1em 0.3em 0;
  text-transform: uppercase;
  font-style: normal;
}
.post__content p > code {
  background: #f2f3ed;
  font-size: 16px;
}
.post__content > code {
  font-size: 14px;
  background: var(--color-primary-light);
  padding: 0 5px;
}
.post__content pre {
  font-size: 16px;
  margin: var(--margin) 0;
  max-height: 550px;
}
.follow-links {
  position: relative;
  padding: var(--padding-half) var(--padding-half) var(--padding)
    var(--padding-half);
  border-bottom: 1px solid var(--color-primary-light);
}

.next-previous {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.next,
.prev {
  min-height: 44px;
}
.next {
  margin-right: var(--margin);
  margin-left: auto;
}
.next-previous li {
  width: auto;
}
.next-previous li a {
  color: var(--color-accent);
}

.next-post {
  text-align: right;
}

.prev-post,
.next-post {
  display: inline-block;
  position: absolute;
  width: 44px;
  height: 100%;
  text-indent: var(--baseline);
}

.next-post:after,
.next-post:before,
.prev-post:after,
.prev-post:before {
  position: absolute;
  content: '';
  width: 2px;
  height: 44px;
  background: var(--color-accent);
  transform-origin: bottom;
  top: -20px;
}

.prev-post:after {
  left: 0;
  transform: rotate(135deg);
}
.prev-post:before {
  left: 0;
  transform: rotate(45deg);
}

.next-post:after {
  right: 0;
  transform: rotate(-135deg);
}
.next-post:before {
  right: 0;
  transform: rotate(-45deg);
}

.related-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.post--related .post-excerpt {
  max-width: 90%;
  margin: 0;
  font-size: 16px;
}
.main-image figcaption:after {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  background: var(--color-accent);
  margin: var(--margin-half) auto;
  position: relative;
}
.main-image figcaption {
  font-size: 12px;
  font-weight: 100;
  display: block;
  text-align: center;
  margin: var(--margin-half) auto;
  position: relative;
  color: var(--color-black-light);
}
.post .post-image {
  display: block;
  width: 100%;
  max-height: 550px;
  object-fit: cover;
}

@media screen and (min-width: 600px) {
  .image--full-width {
    display: block;
    width: calc(100% + calc(var(--grid-outer-gutter) * 6));
    max-width: calc(100% + calc(var(--grid-outer-gutter) * 6));
    margin-left: calc(var(--grid-outer-gutter) * -3);
  }
}

@media screen and (min-width: 1024px) {
  .post.single {
    position: relative;
    /* max-width: 700px; */
    font-size: 18px;
    line-height: 1.5;
  }
  .image--full-width {
    display: block;
    width: calc(100% + calc(var(--grid-outer-gutter) * 10));
    max-width: calc(100% + calc(var(--grid-outer-gutter) * 10));
    margin-left: calc(var(--grid-outer-gutter) * -5);
  }
  .post__content figcaption {
    font-size: 16px;
  }
}
