/* ====================
    RESET
    Credits:
        - https://bitsofco.de/my-css-reset-base/
        - https://meyerweb.com/eric/tools/css/reset/reset.css

===================== */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

img,
video,
svg {
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

[hidden] {
  display: none !important;
}

i,
cite,
em,
var,
address,
dfn {
  font-style: inherit;
}

svg {
  pointer-events: none;
}

:root {
  line-sizing: normal;
  text-spacing: trim-start allow-end trim-adjacent ideograph-alpha
    ideograph-numeric;
}

/*
Prevent Zoom on Focus only for IOS devices
 -webkit-overflow-scrolling is supported only in IOS Safari
 https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-overflow-scrolling
 */

@supports (-webkit-overflow-scrolling: touch) {
  select,
  textarea,
  input[type='text'],
  input[type='password'],
  input[type='number'],
  input[type='tel'],
  input[type='email'] {
    font-size: 16px;
  }
}
