/*=========================
    WORK
==========================*/
.work--temp h2 {
  text-align: center;
  font-weight: 900;
  font-size: 2.25rem;
}
.companies {
  padding-top: var(--margin-xl);
}
.companies > a {
  grid-column: 1 / -1;
}
.companies figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  max-width: 240px;
  margin: 0 auto;
}

.companies img {
  height: auto;
  object-fit: contain;
  flex: 1 1 50px;
}

.work-section {
  font-style: normal;
  font-weight: 500;
}
.work-intro {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.work-nav {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  height: var(--margin-xl);
  top: 0;
  font-family: alegreya-sans, sans-serif;
  background: #fff;
  width: 100%;
  padding: var(--padding-half) 0;
  transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  box-shadow: 0 1px 5px hsla(60, 1%, 88%, 1);
}
.nav-list__item ul {
  display: none;
}

.is-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: var(--margin-xl);
  margin-top: 1px;
  background: #fff;
  z-index: 100;
}

.project__header {
  margin-bottom: var(--margin-xl);
}

@media screen and (min-width: 600px) {
  .companies > a {
    grid-column: auto / span 3;
  }
}

@media screen and (min-width: 1024px) {
  .companies {
    grid-row-gap: var(--margin-xxl);
  }
  .companies > a {
    grid-column: auto / span 4;
  }
}
