/*=========================
    WORK
==========================*/

.work--temp h2 {
  text-align: left;
  font-weight: 900;
  font-size: var(--font-l);
}
.companies {
  padding-top: var(--margin-xl);
  grid-row-gap: var(--margin-xl);
}
.companies > a {
  grid-column: 1 / -1;
}
.companies figure {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  transition: background-color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  background-color: var(--color-secondary);
  padding: var(--margin);
  border-radius: 8px;
}
.company__label {
  position: absolute;
  transform: translateY(0);
  text-indent: var(--margin);
  color: var(--color-accent);
  display: block;
  left: 0;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.company figure:hover .company__label {
  opacity: 1;
  transform: translateY(calc(-100% - 50px));
}
.company figure:hover {
  transition: background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
  background-color: var(--color-accent);
}

.companies img {
  height: auto;
  object-fit: contain;
  flex: 1 1 50px;
  width: 200px;
  margin: auto;
}
.work-section {
  font-style: normal;
  font-weight: 500;
  position: relative;
  z-index: 100;
  padding-top: var(--margin-l);
  padding-bottom: var(--margin-xl);
  background: var(--color-secondary-light);
}
.work-section:before {
  content: '';
  position: absolute;
  top: -70px;
  left: 0;
  z-index: 10;
  width: 50%;
  height: 70px;
  background: inherit;
  display: block;
  border-radius: 0 80px 0 0;
}
.work-section:after {
  content: '';
  position: absolute;
  top: -70px;
  left: 0;
  z-index: 10;
  width: 50%;
  height: 70px;
  background: inherit;
  display: block;
  border-radius: 80px 0 0 0;
  left: 50%;
}
.work-intro {
  max-width: 700px;
  margin-left: 0;
  margin-right: auto;
}
.work-nav {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  height: var(--margin-xl);
  top: 0;
  font-family: alegreya-sans, sans-serif;
  background: #fff;
  width: 100%;
  padding: var(--padding-half) 0;
  transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  box-shadow: 0 1px 5px hsla(60, 1%, 88%, 1);
}

.is-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: var(--margin-xl);
  margin-top: 1px;
  background: #fff;
  z-index: 100;
}

.project__header {
  margin-bottom: var(--margin-xl);
}

@media screen and (min-width: 500px) {
  .companies > a {
    grid-column: auto / span 3;
  }
}

@media screen and (min-width: 1024px) {
  .companies {
    grid-row-gap: var(--margin-l);
  }
  .companies > a {
    grid-column: auto / span 3;
  }
}
