---
layout: default
---

<main class="content">
	<div class="wrapper wrapper--articles">
		<header >
			<h1 class="title title--wrapper"> My Projects</h1>
		</header>
		<p class="category-description">
			Work in Progress, in the meanwhile: <a href="http://github.com/antoniofull">github</a> or <a href="https://bitbucket.org/afullone/">BitBucket</a> where you will find some projects I worked on.
		</p>
		<section class="category-list">
			{% for post in site.posts %}
			{% if post.categories contains "projects" %}
		    <article class="category-list__item">
					<header>
						<h2 class="category-list__title title">{{ post.title }}</h2>
						<span class="date">{{ post.date | date: "%-d %B %Y" }}</span>
					</header>
		      <a class="category-list__link" href="{{ post.url }}">
		      	{% if post.image %}
						<figure class="image-container">
							<img class="category-list__image" src="/images/posts/{{ post.image }}" alt={{post.title}} />
						</figure>
						{% endif %}
		      </a>
					<div class="category-list__excerpt">{{post.excerpt}}</div>
					<a  href="{{ post.url }}" class="read-more">Read Post</a>
		    </article>
			{% endif %}
		  {% endfor %}
		</section>
	</div>
</main>
