// Strips unit from numbers (usefull sometimes)

@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

// Convert in Rem Function + mixin
@function pxToRem($size) {
	$remSize: $size / $base-font-size;
	@return #{$remSize}rem;
}

@mixin toRem($size) {
	//Fallback in px
	font-size: #{$size}px;
	font-size: pxToRem($size);
}

@function lineHeight($font) {
	$_lineHeight: $base-line-height / ($font);
	@return strip-unit($_lineHeight); 
}

@mixin line_height($font) {
	line-height: lineHeight($font);
}

// Media Queries
@mixin mq($bp) {
	@media only screen and (min-width:$bp){  
		@content;
	}
}
@mixin custom-mq($min-bp, $max-bp) {
	@media only screen and (min-width:$min-bp) and (max-width: $max-bp) {  
		@content;
	}
}


// Transitions

@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}

@mixin media_transition($transition-time) {
	-webkit-transition: $transition-time;
	-moz-transition: $transition-time;
	-ms-transition: $transition-time;
	-o-transition: $transition-time;
	transition: $transition-time;

}
